<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 5px;
    }
  
    .spacer {
      flex: 1;
    }
  
    .content {
      display: flex;
      margin: 2px auto;
      padding: 0 16px;
      max-width: fit-content;
      flex-direction: column;
    }
  
  </style>
  
  <div>
    &nbsp;
  </div>
  <div style="background-color: lightgray; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; position: absolute;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" target="_blank" rel="noopener" href="http://www.mahanagargas.com/PaymentCollectionCenter.aspx?Mkey=OTM=&lKey=Mg==">  
        <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Mahanagar Gas</p> 
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://cp.tatapower.com/irj/portal/anonymous/login">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Tata Power</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://ebiz.licindia.in/D2CPM/#Login">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">LIC of India</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="http://www.airtel.in/personal/digital-tv">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Airtel DTH</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://ebank.megabank.com.tw/iibcontent.jsp">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Mega Bank</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://www.icicibank.com/index.html">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">ICICI Bank</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="http://invoices.com.tw/invoice.html">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Taiwan Lottery</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://digitallocker.gov.in/Index.aspx?culture=en-IN">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Digi Locker</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://www.shubhambhavatu.in/">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Shubham Bhavatu</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://www.cathaypacific.com/mb/#/en_TW/hub/Q7GSRH">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Cathay Pacific Airlines</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://www.singaporeair.com/en_UK/tw/home#/">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Singapore Airlines</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="https://www.thsrc.com.tw/en/Article/ArticleContent/906de59a-8ea0-425a-8055-ca3afded9a3e">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Taiwan HSR</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="http://www.moneycontrol.com/">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">Money Control</p> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="http://uanmembers.epfoservices.in/index.php">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue">UAN EPFO</p> 
        </a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" target="_blank" rel="noopener" href="">  
          <p style="color: black;font-size: medium; font: menu;   text-decoration: underline;background-color: aliceblue"></p> 
        </a>
      </li>-->
  </ul>
  </div>