<div class="row">
  <div class="col">
    <table class="table table-stripped" style="color: black; background-color: lightgray">
      <thead>
        <tr>
          <th *ngFor="let columnHeader of columnHeaderList" style="text-align: left">{{columnHeader}}</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td *ngFor="let column of columnNameList">
            {{data[column]}}
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>