<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 5px;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card svg.material-icons path {
    fill: coral;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 3px;
    border: 1px solid grey;
    height: 40px;
    width: 160px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-medium {
    height: 30px;
    width: 120px;
  }
  .card.card-small {
    height: 10px;
    width: 100px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: palegoldenrod;
    color: black;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  .terminal {
    position: relative;
    width: fit-content;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }
</style>

<input type="hidden" #selection>
<h2 style="text-align: center; text-decoration: underline; background-color: darkkhaki;">PCX Queries</h2>
<div class="card-container"  style="font-style: italic; font: bolder; background-color: khaki; padding-top: 15px; padding-bottom: -1px;">
  
  <div class="card card-medium" (click)="selection.value = 'pcx4'" tabindex="0" style="text-align: center;background-color: lightgoldenrodyellow ;">
    <span>Query1 APPDM Long Desc</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx5'" tabindex="0" style="text-align: center;background-color: lightgoldenrodyellow ;">
    <span>Query2 APPDM Long Desc</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx1'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>PCX query for DPC Team</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx2'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>Dev Team mapping</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx3'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>FW Dev Style Flex Type values</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx6'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>PCX DB Tables</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx7'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>MxS last updated info</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx8'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>Colors in Palette</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx10'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>Color req attributes</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx9'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>SATRASSUM & AHS</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'pcx11'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>Commonly used attributes in PCX</span>
  </div>

</div>

<h2 style="text-align: center; text-decoration: underline; background-color: darkkhaki;">EQ Queries</h2>
<div class="card-container"  style="font-style: italic; font: bolder; background-color: khaki; padding-top: 15px; padding-bottom: -1px;">
  
  <div class="card card-medium" (click)="selection.value = 'eq1'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>EQ Query for CDB Product Data</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'eq2'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>EQ Query for Samples Team</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'eq3'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>EQ Query for Flextypeidpath</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'eq4'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>EQ Sales Sample Query</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'eq5'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>EQ Features & Benefits</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'eq6'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>EQ Primary Source of a Style</span>
  </div>
</div>
<h2 style="text-align: center; text-decoration: underline; background-color: darkkhaki;">FW Queries</h2>
<div class="card-container"  style="font-style: italic; font: bolder; background-color: khaki; padding-top: 15px; padding-bottom: -1px;">
  
  <div class="card card-medium" (click)="selection.value = 'fw1'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow ;">
    <span>FWPDM PCC - SR</span>
  </div>

  <div class="card card-medium" (click)="selection.value = 'fw2'" tabindex="0" style="text-align: center; background-color: lightgoldenrodyellow">
    <span>FWPDM PCC - Retail Info</span>
  </div>
</div>
<!-- Terminal -->
<div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault></pre>
    <pre *ngSwitchCase="'fw1'">
      SELECT DISTINCT
        M.MODELIDENTIFIER       AS "Model ID",
        M.NAME                  AS "Model Name",    
        LS.STYLENUMBER          AS "PCX Dev Style Number",
        B.PCXDEVCOLORWAYID      AS "PCX Dev Colorway ID",
        B.MATERIALVERSION       AS "Material Version",    
        B.PCXBOMID              AS "PCX BOM ID",
        DS.ALIAS                AS "PCM DPA",
        B.FWPCMBOMID            AS "PCM BOM ID",
        CY.ABBREVIATION         AS "Season",
        F.FACTORY               AS "PCC",
        U.NAME                  AS "PCC DEVELOPER NTID",
        U.FULLNAME              AS "PCC DEVELOPER"    
      FROM
        WCADMIN.FWDEVELOPMENTSTREAM DS,
        WCADMIN.FWBOM B,
        WCADMIN.FWBOMPRODUCTLINK BPL,
        WCADMIN.FWPRODUCT P, 
        WCADMIN.FWLEGACYSTYLE LS,
        WCADMIN.FWDEVSTREAMFACTORYRESOURCE DSF,
        WCADMIN.FWFACTORY FWF,
        WCADMIN.FACTORY F,
        WCADMIN.FWCYCLEYEAR CY,
        WCADMIN.FWMODEL M,
        WCADMIN.ROLEPRINCIPALMAP RPM,
        WCADMIN.TEAM T,
        WCADMIN.WTUSER U
      WHERE
        DS.IDA2A2 = B.IDA3B9
        AND B.IDA2A2 = BPL.IDA3A5
        AND BPL.IDA3B5 = P.IDA2A2
        AND P.IDA3K9 = LS.IDA2A2
        AND P.IDA3L9 = CY.IDA2A2
        AND DS.IDA2A2 = DSF.IDA3A5
        AND DSF.IDA3B5 = FWF.IDA2A2
        AND FWF.IDA3A5 = F.IDA2A2
        AND P.IDA3B9 = M.IDA2A2    
        AND RPM.IDA3A4 = T.IDA2A2 
        AND T.IDA2A2 = DS.IDA3TEAMID
        AND RPM.IDA3B4 = U.IDA2A2(+) 
        AND RPM.ROLE = 'FWPCCDEVELOPER'
        AND DSF.FACTORYTYPE = 'DEV'
        AND CY.ABBREVIATION IN ('SU20', 'FA20', 'HO20', 'SP21')
        AND F.FACTORY IN ('T2','VT');
      </pre>
      <pre *ngSwitchCase="'pcx1'">
SELECT DISTINCT
    devstyle.ptc_str_15typeinfolcsproduct               AS "Model ID",
    devstyle.ptc_str_17typeinfolcsproduct               AS "Model Name",
    devstyle.ptc_str_32typeinfolcsproduct               AS "Dev Style number",
    devstyle.ptc_str_20typeinfolcsproduct               AS "Marketing Name",
    colorway.ptc_lng_1typeinfolcssku                    AS "Colorway ID",
    colorway.ptc_str_1typeinfolcssku                    AS "Colorway Name",
    upper(skuseasonlink.ptc_str_13typeinfolcsskuseas)   AS "Product C/O Status",
    upper(colorway.ptc_str_2typeinfolcssku)             AS "Dev Colorway State",
    upper(colorway.ptc_str_19typeinfolcssku)            AS "Dev Colorway Gate",
    season.ptc_str_4typeinfolcsseason                   AS "Season",
    upper(devstyle.ptc_str_10typeinfolcsproduct)        AS "Gender",
    upper(ptc_str_2typeinfolcsproduct)                  AS "Age",
    upper(devstyle.ptc_str_12typeinfolcsproduct)        AS "Sports Activity",
    productseasonlink.ptc_str_14typeinfolcsproduct      AS "Development Team",
    (
        SELECT
            lcslifecyclemanaged.ptc_str_10typeinfolcslifecyc
        FROM
            manrev.lcslifecyclemanaged lcslifecyclemanaged
        WHERE
            productseasonlink.ida3a2typeinfolcsproductseas = lcslifecyclemanaged.ida2a2
    )                                                   AS "TD Code",
    supplier.ptc_str_24typeinfolcssupplie               AS "PCC",
    supplier.ptc_str_60typeinfolcssupplie               AS "Factory Group",
    sourcingconfig.ptc_str_2typeinfolcssourcing         AS "Primary Source"
FROM
    manrev.lcsproduct devstyle,
    manrev.lcsproductseasonlink productseasonlink,
    manrev.lcssku colorway,
    manrev.lcsseason season,
    manrev.lcsskuseasonlink skuseasonlink,
    manrev.lcssourcingconfig sourcingconfig,
    manrev.lcssourcetoseasonlink sourcetoseasonlink,
    manrev.lcssupplier supplier
WHERE
    season.ptc_str_4typeinfolcsseason IN (
        'Footwear-SP20',
        'Footwear-SU20',
        'Footwear-FA20',
        'Footwear-HO20',
        'Footwear-SP21',
        'Footwear-SU21',
        'Footwear-FA21',
        'Footwear-HO21',
        'Footwear-SP22'
    )
    AND sourcetoseasonlink.ptc_bln_1typeinfolcssourceto = 1 --Only Primary Source (Season)
    AND upper(colorway.ptc_str_13typeinfolcssku) = 'ACTIVE'--Only active Colorways
    AND devstyle.ida3masterreference = colorway.ida3a12
    AND devstyle.flextypeidpath = '\49742\250384\250572\69159615' -- FW Dev Styles
        --AND devstyle.flextypeidpath = '\49742\250384\250572\69159185' -- Construction Option Dev Styles   
        --AND devstyle.flextypeidpath = '\49742\250384\250572\69159400' -- Promo Dev Styles
        --AND skuseasonlink.ptc_str_13typeInfoLCSSKUSeas = 'new'
    AND devstyle.ida3masterreference = productseasonlink.productmasterid
    AND devstyle.ida3masterreference = skuseasonlink.productmasterid
    AND colorway.branchiditerationinfo = skuseasonlink.skuarevid
    AND colorway.ida3masterreference = skuseasonlink.skumasterid
    AND productseasonlink.seasonrevid = season.branchiditerationinfo
    AND productseasonlink.ida3b5 = season.ida3masterreference
    AND productseasonlink.ida3b5 = skuseasonlink.ida3b5
    AND productseasonlink.productmasterid = skuseasonlink.productmasterid
    AND skuseasonlink.ida3b5 = season.ida3masterreference
    AND skuseasonlink.seasonrevid = season.branchiditerationinfo
    AND devstyle.ida3masterreference = sourcingconfig.ida3c11
    AND devstyle.branchiditerationinfo = sourcingconfig.productarevid
    AND sourcetoseasonlink.seasonmasterid = season.ida3masterreference
    AND sourcetoseasonlink.seasonmasterid = skuseasonlink.ida3b5
    AND supplier.branchiditerationinfo = sourcetoseasonlink.branchida3b2typeinfolcssourc
    AND sourcetoseasonlink.sourcingconfigmasterid = sourcingconfig.ida3masterreference
    AND productseasonlink.ida3a2typeinfolcsproductseas IN (
        14342608,--F1
        14342631,--F2
        14342651,--F3
        14342674--F4
    )--TD Code (add if required N1-14342353, N2-14342369, N3-14342389)
        /*AND supplier.ptc_str_60typeinfolcssupplie IN (
            'POU CHEN',
            'FENG TAY',
            'TAE KWANG',
            'CHANG SHIN'
        )*/
    AND colorway.ptc_lng_1typeinfolcssku <> 0
    AND devstyle.latestiterationinfo = 1
    AND devstyle.versionida2versioninfo = 'A'
    AND colorway.latestiterationinfo = 1
    AND colorway.versionida2versioninfo = 'A'
    AND season.latestiterationinfo = 1
    AND season.versionida2versioninfo = 'A'
    AND productseasonlink.seasonrevid = season.branchiditerationinfo
    AND devstyle.ida3masterreference = sourcingconfig.ida3c11
    AND devstyle.branchiditerationinfo = sourcingconfig.productarevid
    AND sourcingconfig.latestiterationinfo = 1
    AND sourcingconfig.versionida2versioninfo = 'A'
    AND productseasonlink.effectlatest = 1
    AND skuseasonlink.effectlatest = 1
    AND sourcetoseasonlink.latestiterationinfo = 1
    AND sourcetoseasonlink.versionida2versioninfo = 'A'
    AND supplier.latestiterationinfo = 1
    AND supplier.versionida2versioninfo = 'A'
ORDER BY
    season.ptc_str_4typeinfolcsseason,
    devstyle.ptc_str_15typeinfolcsproduct,
    devstyle.ptc_str_32typeinfolcsproduct,
    colorway.ptc_lng_1typeinfolcssku;
      </pre>
      <pre *ngSwitchCase="'pcx2'">
      SELECT
        lwsmastenum.name,
        lwcenumentry.name,
        localize.value
      FROM
        manrev.lwcenumerationentry lwcenumentry,
        manrev.lwclocalizablepropertyvalue localize,
        manrev.lwcmasterenumerationdefinition lwsmastenum
      WHERE
        lwsmastenum.ida2a2 = localize.ida3c4
        AND localize.ida3b4 = lwcenumentry.ida2a2
        AND lwsmastenum.name = 'nikeDevelopmentTeamFW'
      ORDER BY
        lwcenumentry.name,
        localize.value;
      </pre>
      <pre *ngSwitchCase="'pcx3'">
Flex Type = \49742\250384\250572\69159615  --- FW STYLENUMBER
Flex Type = \49742\250384\250572\69159185  --- Construction Option
Flex Type = \49742\250384\250572\69159400  --- Promo
      </pre>
      <pre *ngSwitchCase="'pcx4'">
        WITH HIER_DEF_PATH_SUPMAT AS (SELECT DISTINCT 
        TAB.HIER_PATH
        ,REPLACE(TAB.HIER_DISPLAY_PATH,'\\','') AS HIERARCHY_DISPLAY_PATH
        ,REGEXP_REPLACE(TAB.HIER_PATH_NAME,'\\',NULL,1,1) AS HIER_PATH_NAME
        ,'rem_MsApPdmSmLongDesc' AS SM_MAPPINGTAB
        ,'rem_ApPdmLongDesc' AS MAT_MAPPINGTAB
        ,NULL AS PDM_LONGDESC
        FROM (
        SELECT (a.IDA3MASTERREFERENCE+1) as IDA3MASTERREFERENCE
        ,INSTANTIABLE 
        ,LEVEL
        ,SYS_CONNECT_BY_PATH(a.IDA3MASTERREFERENCE+1, '\') AS HIER_PATH
        ,SYS_CONNECT_BY_PATH(regexp_substr(REPLACE(REGEXP_SUBSTR(a.HIERARCHYDISPLAYNAMEKEY,'[^$]+',1,1),'.',' '),'\S+$'), '\') AS HIER_PATH_NAME 
        ,SYS_CONNECT_BY_PATH(a.HIER_DISP_NAME1, '\') AS HIER_DISPLAY_PATH 
        ,a.DISPLAYNAMEKEY 
        ,a.HIERARCHYDISPLAYNAMEKEY
        FROM (SELECT wtd.IDA2A2
        ,wtd.IDA3PARENTREFERENCE
        ,wtd.IDA3MASTERREFERENCE
        ,wtd.INSTANTIABLE
        ,wtdm.DISPLAYNAMEKEY 
        ,wtdm.HIERARCHYDISPLAYNAMEKEY
        ,wtdm.HIER_DISP_NAME1
        FROM manrev.WTTYPEDEFINITION wtd 
        INNER JOIN ( 
        SELECT 
        wtdm1.IDA2A2
        ,wtdm1.DISPLAYNAMEKEY 
        ,wtdm1.HIERARCHYDISPLAYNAMEKEY
        ,HDNAME.HIER_DISP_NAME1
        FROM manrev.WTTYPEDEFINITIONMASTER wtdm1 
        LEFT OUTER JOIN (select TYPE_DEF.name as HIERARCHYDISPLAYNAMEKEY
         ,LOC_PROP_VAL.VALUE AS HIER_DISP_NAME1
         from manrev.LWCTYPEDEFINITION TYPE_DEF
         INNER JOIN manrev.LWCLOCALIZABLEPROPERTYVALUE LOC_PROP_VAL ON TYPE_DEF.IDA2A2 = LOC_PROP_VAL.IDA3C4 
         and LOC_PROP_VAL.CLASSNAMEKEYC4 = 'com.ptc.core.lwc.server.LWCTypeDefinition'
         and LOC_PROP_VAL.CLASSNAMEKEYA4 = 'com.ptc.core.lwc.server.LWCPropertyDefinition' 
         and LOC_PROP_VAL.IDA3A4 = 2292) HDNAME ON HDNAME.HIERARCHYDISPLAYNAMEKEY = wtdm1.HIERARCHYDISPLAYNAMEKEY
        ) wtdm 
        on wtdm.IDA2A2 = wtd.IDA3MASTERREFERENCE
        WHERE wtd.LATESTITERATIONINFO = 1
        ) a
         WHERE level <= 20 
         START WITH a.IDA3PARENTREFERENCE = 0
         CONNECT BY NOCYCLE PRIOR a.IDA2A2 = a.IDA3PARENTREFERENCE AND LEVEL <= 20) TAB
         WHERE REPLACE(TAB.HIER_DISPLAY_PATH,'\\','') LIKE 'Nike\Apparel%'
         )
        SELECT DISTINCT 
        HIER_DEF_PATH.SM_MAPPINGTAB AS MAPPINGTAB
        ,LCSMATERIAL.PTC_LNG_1TYPEINFOLCSMATERIAL AS PDM_MATERIAL_NUMBER /* NikeLegacyCode NEED_COLUMN_UPDATE_CHECK */
        ,LCSSUPPLIER.PTC_STR_37TYPEINFOLCSSUPPLIE as SUPPLIER_LOCATION_CODE /* NikeLegacyCode NEED_COLUMN_UPDATE_CHECK */
        ,HIER_DEF_PATH.PDM_LONGDESC
        ,HIER_DEF_PATH.HIER_PATH_NAME
        FROM MANREV.LCSMATERIALSUPPLIER@PTCFLEX
        INNER JOIN MANREV.LCSMATERIALSUPPLIERMASTER@PTCFLEX ON LCSMATERIALSUPPLIER.IDA3MASTERREFERENCE = LCSMATERIALSUPPLIERMASTER.IDA2A2
        INNER JOIN MANREV.LCSMATERIAL@PTCFLEX ON LCSMATERIAL.IDA3MASTERREFERENCE = LCSMATERIALSUPPLIERMASTER.IDA3A6
        INNER JOIN MANREV.LCSMATERIALMASTER@PTCFLEX ON LCSMATERIALMASTER.IDA2A2 = LCSMATERIAL.IDA3MASTERREFERENCE
        INNER JOIN MANREV.LCSSUPPLIERMASTER@PTCFLEX ON LCSSUPPLIERMASTER.IDA2A2 = LCSMATERIALSUPPLIERMASTER.IDA3B6
        INNER JOIN MANREV.LCSSUPPLIER@PTCFLEX ON LCSSUPPLIERMASTER.IDA2A2 = LCSSUPPLIER.IDA3MASTERREFERENCE
        INNER JOIN HIER_DEF_PATH_SUPMAT HIER_DEF_PATH ON HIER_DEF_PATH.HIER_PATH = LCSMATERIAL.FLEXTYPEIDPATH
        WHERE LCSMATERIALSUPPLIER.LATESTITERATIONINFO = 1 
        AND LCSMATERIAL.LATESTITERATIONINFO = 1 
        AND LCSMATERIALSUPPLIERMASTER.PLACEHOLDER = 0
        AND LCSSUPPLIERMASTER.PLACEHOLDER = 0 
        AND LCSSUPPLIER.LATESTITERATIONINFO = 1
        AND LCSMATERIALSUPPLIER.STATECHECKOUTINFO = 'c/i'
        AND LCSMATERIAL.STATECHECKOUTINFO = 'c/i'
        AND LCSMATERIALSUPPLIER.PTC_LNG_30TYPEINFOLCSMATERIA IN (406171);
      </pre>
      <pre *ngSwitchCase="'pcx5'">
        WITH HIER_DEF_PATH_SUPMAT AS (SELECT DISTINCT 
        TAB.HIER_PATH
        ,REPLACE(TAB.HIER_DISPLAY_PATH,'\\','') AS HIERARCHY_DISPLAY_PATH
        ,REGEXP_REPLACE(TAB.HIER_PATH_NAME,'\\',NULL,1,1) AS HIER_PATH_NAME
        ,'rem_MsApPdmSmLongDesc' AS SM_MAPPINGTAB
        ,'rem_ApPdmLongDesc' AS MAT_MAPPINGTAB
        ,NULL AS PDM_LONGDESC
        FROM (
        SELECT (a.IDA3MASTERREFERENCE+1) as IDA3MASTERREFERENCE
        ,INSTANTIABLE 
        ,LEVEL
        ,SYS_CONNECT_BY_PATH(a.IDA3MASTERREFERENCE+1, '\') AS HIER_PATH
        ,SYS_CONNECT_BY_PATH(regexp_substr(REPLACE(REGEXP_SUBSTR(a.HIERARCHYDISPLAYNAMEKEY,'[^$]+',1,1),'.',' '),'\S+$'), '\') AS HIER_PATH_NAME 
        ,SYS_CONNECT_BY_PATH(a.HIER_DISP_NAME1, '\') AS HIER_DISPLAY_PATH 
        ,a.DISPLAYNAMEKEY 
        ,a.HIERARCHYDISPLAYNAMEKEY
        FROM (SELECT wtd.IDA2A2
        ,wtd.IDA3PARENTREFERENCE
        ,wtd.IDA3MASTERREFERENCE
        ,wtd.INSTANTIABLE
        ,wtdm.DISPLAYNAMEKEY 
        ,wtdm.HIERARCHYDISPLAYNAMEKEY
        ,wtdm.HIER_DISP_NAME1
        FROM MANREV.WTTYPEDEFINITION wtd 
        INNER JOIN ( 
        SELECT 
        wtdm1.IDA2A2
        ,wtdm1.DISPLAYNAMEKEY 
        ,wtdm1.HIERARCHYDISPLAYNAMEKEY
        ,HDNAME.HIER_DISP_NAME1
        FROM MANREV.WTTYPEDEFINITIONMASTER wtdm1 
        LEFT OUTER JOIN (select TYPE_DEF.name as HIERARCHYDISPLAYNAMEKEY
        ,LOC_PROP_VAL.VALUE AS HIER_DISP_NAME1
        from MANREV.LWCTYPEDEFINITION TYPE_DEF
        INNER JOIN MANREV.LWCLOCALIZABLEPROPERTYVALUE LOC_PROP_VAL ON TYPE_DEF.IDA2A2 = LOC_PROP_VAL.IDA3C4 
        and LOC_PROP_VAL.CLASSNAMEKEYC4 = 'com.ptc.core.lwc.server.LWCTypeDefinition'
        and LOC_PROP_VAL.CLASSNAMEKEYA4 = 'com.ptc.core.lwc.server.LWCPropertyDefinition' 
        and LOC_PROP_VAL.IDA3A4 = 2292) HDNAME ON HDNAME.HIERARCHYDISPLAYNAMEKEY = wtdm1.HIERARCHYDISPLAYNAMEKEY
        ) wtdm 
        on wtdm.IDA2A2 = wtd.IDA3MASTERREFERENCE
        WHERE wtd.LATESTITERATIONINFO = 1
        ) a
        WHERE level <= 20 
        START WITH a.IDA3PARENTREFERENCE = 0
        CONNECT BY NOCYCLE PRIOR a.IDA2A2 = a.IDA3PARENTREFERENCE AND LEVEL <= 20) TAB
        WHERE REPLACE(TAB.HIER_DISPLAY_PATH,'\\','') LIKE 'Nike\Apparel%'
        )  
        SELECT DISTINCT 
        HIER_DEF_PATH.MAT_MAPPINGTAB AS MAPPINGTAB
        ,LCSMATERIAL.PTC_LNG_1TYPEINFOLCSMATERIAL AS PDM_MATERIAL_NUMBER /* NikeLegacyCode NEED_COLUMN_UPDATE_CHECK */
        ,HIER_DEF_PATH.PDM_LONGDESC
        ,HIER_DEF_PATH.HIER_PATH_NAME
        FROM MANREV.LCSMATERIALSUPPLIER@PTCFLEX
        INNER JOIN MANREV.LCSMATERIALSUPPLIERMASTER@PTCFLEX ON LCSMATERIALSUPPLIER.IDA3MASTERREFERENCE = LCSMATERIALSUPPLIERMASTER.IDA2A2
        INNER JOIN MANREV.LCSMATERIAL@PTCFLEX ON LCSMATERIAL.IDA3MASTERREFERENCE = LCSMATERIALSUPPLIERMASTER.IDA3A6
        INNER JOIN MANREV.LCSMATERIALMASTER@PTCFLEX ON LCSMATERIALMASTER.IDA2A2 = LCSMATERIAL.IDA3MASTERREFERENCE
        INNER JOIN MANREV.LCSSUPPLIERMASTER@PTCFLEX ON LCSSUPPLIERMASTER.IDA2A2 = LCSMATERIALSUPPLIERMASTER.IDA3B6
        INNER JOIN MANREV.LCSSUPPLIER@PTCFLEX ON LCSSUPPLIERMASTER.IDA2A2 = LCSSUPPLIER.IDA3MASTERREFERENCE
        INNER JOIN HIER_DEF_PATH_SUPMAT HIER_DEF_PATH ON HIER_DEF_PATH.HIER_PATH = LCSMATERIAL.FLEXTYPEIDPATH
        WHERE LCSMATERIALSUPPLIER.LATESTITERATIONINFO = 1 
        AND LCSMATERIAL.LATESTITERATIONINFO = 1 
        AND LCSMATERIALSUPPLIERMASTER.PLACEHOLDER = 0
        AND LCSSUPPLIERMASTER.PLACEHOLDER = 0 
        AND LCSSUPPLIER.LATESTITERATIONINFO = 1
        and LCSMATERIALSUPPLIER.STATECHECKOUTINFO = 'c/i'
        and LCSMATERIAL.STATECHECKOUTINFO = 'c/i'
        AND LCSMATERIALSUPPLIER.PTC_LNG_30TYPEINFOLCSMATERIA IN (406171);
      </pre>
      <pre *ngSwitchCase="'pcx7'">
        SELECT
              (
                SELECT
                    wtuser.fullname
                FROM
                    manrev.wtuser wtuser
                WHERE
                    wtuser.ida2a2 = ida3b2iterationinfo
              ) AS "User",
              ptc_lng_30typeinfolcsmateria as "PCX MxS",
              updatestampa2,
              modifystampa2
            FROM
                manrev.lcsmaterialsupplier
            WHERE
                ida3b2iterationinfo IN (
                    65246026
                )
                AND latestiterationinfo = 1
                AND modifystampa2 > '01-JAN-20'
                order by modifystampa2;
                  </pre>
                  <pre *ngSwitchCase="'pcx8'">
                  SELECT
                (
                    SELECT
                        clr.colorname
                    FROM
                        manrev.lcscolor clr
                    WHERE
                        pcl.ida3a5 = clr.ida2a2
                ) AS "Color Name",
                (
                    SELECT
                        clr.ptc_str_9typeinfolcscolor
                    FROM
                        manrev.lcscolor clr
                    WHERE
                        pcl.ida3a5 = clr.ida2a2
                ) AS "Available Engines",
                (
                    SELECT
                        plt.palettename
                    FROM
                        manrev.lcspalette plt
                    WHERE
                        plt.ida2a2 = pcl.ida3b5
                ) AS "Palette Name"
              FROM
                  manrev.lcspalettetocolorlink pcl
              WHERE
                  pcl.ida3b5 = (
                      SELECT
                          plt.ida2a2
                      FROM
                          manrev.lcspalette plt
                      WHERE
                          lower(plt.palettename) LIKE '%apparel-ho20%'
                  )
            ORDER BY
                "Color Name";
    </pre>
    <pre *ngSwitchCase="'pcx6'">
        DEVSTYLE:             MANREV.LCSPRODUCT
        DEVSTYLE REV:         MANREV.PRODAREV
        COLORWAY:             MANREV.LCSSKU
        COLORWAY REV:         MANREV.SKUAREV
        DEVSTYLE-SEASON:      MANREV.LCSPRODUCTSEASONLINK, MANREV.PRODUCTSEASONLINK
        COLORWAY-SEASON:      MANREV.LCSSKUSEASONLINK, MANREV.SKUSEASONLINK
        SOURCE:               MANREV.LCSSOURCINGCONFIG 
        SOURCE MASTER:        MANREV.LCSSOURCINGCONFIGMASTER
        SKU SOURCE LINK:      MANREV.LCSSKUSOURCINGLINK
        SEASON:               MANREV.LCSSEASON 
        SEASON MASTER:        MANREV.LCSSEASONMASTER 
        SOURCE-SEASON:        MANREV.LCSSOURCETOSEASONLINK
        SOURCE-SEASON MASTER: MANREV.LCSSOURCETOSEASONLINKMASTER
        MATERIAL:             MANREV.LCSMATERIAL
        MATERIAL MASTER:      MANREV.LCSMATERIALMASTER 
        MATERIAL-SUPPLIER:    MANREV.LCSMATERIALSUPPLIER
        MxS MASTER:           MANREV.LCSMATERIALSUPPLIERMASTER 
        MATERIAL PRICING:     MANREV.MATERIALPRICINGENTRY
        MATERIAL COLOR:       MANREV.LCSMATERIALCOLOR
        SUPPLIER:             MANREV.LCSSUPPLIER 
        SUPPLIER MASTER:      MANREV.LCSSUPPLIERMASTER
        COLOR:                MANREV.LCSCOLOR 
        PALETTE:              MANREV.LCSPALETTE
        PALETTE COLOR LINK:   MANREV.LCSPALETTETOCOLORLINK
        PALETTE MAT LINK:     MANREV.LCSPALETTEMATERIALLINK
        ENUM:                 MANREV.LWCENUMERATIONENTRY
        ENUM MASTER:          MANREV.LWCMASTERENUMERATIONDEFINITION
        LOCAL PROPERTY VALUE: MANREV.LWCLOCALIZABLEPROPERTYVALUE
        PART MASTER:          MANREV.LCSPARTMASTER
        BOM PART:             MANREV.FLEXBOMPART
        BOM PART MASTER:      MANREV.FLEXBOMPARTMASTER
        BOM LINK:             MANREV.FLEXBOMLINK
        COST SHEET MASTER:    MANREV.LCSCOSTSHEETMASTER
        PRODUCT COST SHEET:   MANREV.LCSPRODUCTCOSTSHEET, MANREV.PRODUCTCOSTSHEET
        SKU COST SHEET:       MANREV.LCSSKUCOSTSHEET,  MANREV.SKUCOSTSHEET 
        DOCUMENT:             MANREV.LCSDOCUMENT
        DOCUMENT MASTER:      MANREV.WTDOCUMENTMASTER
        EFFECTIVITY CONTEXT:  MANREV.EFFECTIVITYCONTEXT
        USER:                 MANREV.WTUSER
        BUSINESS OBJECTS:     MANREV.LCSLIFECYCLEMANAGED 
        SPECIFICATION:        MANREV.FLEXSPECIFICATION 
        SPEC MASTER:          MANREV.FLEXSPECMASTER 
        SPEC COMPONENTS LINK: MANREV.FLEXSPECTOCOMPONENTLINK 
        SPEC SEASON LINK:     MANREV.FLEXSPECTOSEASONLINK 
        FILTER LIST:          MANREV.FILTERSLIST
        MEASUREMENTS:         MANREV.LCSMEASUREMENTS
        MEASUREMENT MASTER:   MANREV.LCSMEASUREMENTSMASTER
        MOA OBJECT(REUSABLE): MANREV.LCSMOAOBJECT
        SAMPLE:               MANREV.LCSSAMPLE
        SAMPLE REQUEST:       MANREV.LCSSAMPLEREQUEST
        FLEX ATT DEF:         MANREV.LWCFLEXATTDEFINITION
        TYPE DEF:             MANREV.LWCTYPEDEFINITION
        DATA TYPE DEF:        MANREV.LWCDATATYPEDEFINITION
        WT TYPE DEF:          MANREV.WTTYPEDEFINITION
    </pre>
    <pre *ngSwitchCase="'pcx9'">
      SELECT DISTINCT
        mm.name                           AS "PCX Material",
        ms.ptc_lng_30typeinfolcsmateria   AS "PCX Material Supplier",
        ms.ptc_str_281typeinfolcsmateri   AS "Satrasumm",
        ms.ptc_lng_13typeinfolcsmateria   AS "AHS",
        m.ptc_str_109typeinfolcsmateri    AS "PDM Material Number",
        ms.ptc_str_103typeinfolcsmateri   AS "PDM Material By Supplier Number"
      FROM
        manrev.lcsmaterialsupplier ms,
        manrev.lcsmaterialsuppliermaster smm,
        manrev.lcsmaterialmaster mm,
        manrev.lcsmaterial m
      WHERE
        ms.ida3masterreference = smm.ida2a2
        AND smm.ida3a6 = mm.ida2a2
        AND m.ida3masterreference = mm.ida2a2
        AND ms.ptc_str_103typeinfolcsmateri IS NOT NULL
        AND m.ptc_lng_38typeinfolcsmateria in() 
        AND m.latestiterationinfo = 1
        AND ms.latestiterationinfo = 1;
    </pre>
    <pre *ngSwitchCase="'fw2'">
      SELECT DISTINCT
          F.FACTORY                    AS "PCC",
          CY.ABBREVIATION              AS "Season",
          M.NAME                       AS "Model Name",
          LS.STYLENUMBER               AS "PCX Dev Style Number",
          B.PCXDEVCOLORWAYID           AS "PCX Dev Colorway ID",
          LS.STYLENAME                 AS "PCX Dev Style Name",
          DS.ALIAS                     AS "PCM DPA",
          MO.TARGETRETAILPRICE         AS "Target Retail Price"
      FROM
          WCADMIN.FWDEVELOPMENTSTREAM DS,
          WCADMIN.FWBOM B,
          WCADMIN.FWBOMPRODUCTLINK BPL,
          WCADMIN.FWPRODUCT P,
          WCADMIN.FWLEGACYSTYLE LS,
          WCADMIN.FWDEVSTREAMFACTORYRESOURCE DSF,
          WCADMIN.FWFACTORY FWF,
          WCADMIN.FACTORY F,
          WCADMIN.FWCYCLEYEAR CY,
          WCADMIN.FWMODEL M,
          WCADMIN.FWMODELOFFERING MO,
          WCADMIN.ROLEPRINCIPALMAP RPM,
          WCADMIN.TEAM T,
          WCADMIN.WTUSER U
      WHERE
          DS.IDA2A2 = B.IDA3B9
          AND B.IDA2A2 = BPL.IDA3A5
          AND BPL.IDA3B5 = P.IDA2A2
          AND P.IDA3K9 = LS.IDA2A2
          AND P.IDA3L9 = CY.IDA2A2
          AND DS.IDA2A2 = DSF.IDA3A5
          AND DSF.IDA3B5 = FWF.IDA2A2
          AND FWF.IDA3A5 = F.IDA2A2
          AND P.IDA3B9 = M.IDA2A2
          AND M.IDA2A2 = MO.IDA3A9
          AND CY.IDA2A2 = MO.IDA3D9
          AND RPM.IDA3A4 = T.IDA2A2
          AND T.IDA2A2 = DS.IDA3TEAMID
          AND RPM.IDA3B4 = U.IDA2A2 (+)
          AND MO.STATUS = 'ACTIVE'
          AND RPM.ROLE = 'FWPCCDEVELOPER'
          AND DSF.FACTORYTYPE = 'DEV'
          AND CY.ABBREVIATION IN (
              'SP17',
              'SP18',
              'SP19',
              'SP20',
              'SU17',
              'SU18',
              'SU19',
              'SU20',
              'FA16',
              'FA17',
              'FA18',
              'FA19',
              'FA20',
              'HO16',
              'HO17',
              'HO18',
              'HO19'
          )
          AND F.FACTORY IN (
              'T2',
              'VT'
          )
      ORDER BY
          CY.ABBREVIATION,
          F.FACTORY,
          DS.ALIAS;
    </pre>
    <pre *ngSwitchCase="'eq1'">
      SELECT
        att58,att25, att76,att77, MODIFYSTAMPA2
      FROM
        wcadmin.Prodarev 
      WHERE
        att25 IN ();
    </pre>
    <pre *ngSwitchCase="'eq3'">
      ----------Query to get Flextypeidpath for LCSLIFECYCLEMANAGED (Business Objects)-----------------
      select typeidpath, typename from WCADMIN.flextype where typetablename = 'LCSLIFECYCLEMANAGED';

        --------Below is mapping of db attributes to Flex attributes for Category SubCategory XREF table---------
          att1 = SubCategory 
          att4 = SAP Category Key 
          att7 = First Selling Season 
          att9 = GOAL Family Code 
          att10 = GOAL Line Code
          att15 = Status 
          att16 = SAP SubCategory Key
          att17 = Valid Age 
          att18 = Valid Body Type 
          att19 = Valid Finished Goods Flag
          att20 = Valid Gender
          att21 = Valid Segment
          att22 = Valid Silhouette
          att23 = Valid Size Grid 
          att24 = Valid Sport Activity 

    </pre>
    <pre *ngSwitchCase="'eq2'">
      SELECT
          SUBSTR(season.att9,1,2)||SUBSTR(season.att9,11,2) AS "Season",
          sggrp14097.att1                   AS "SeasonGroup/LineSelection",                                             
          (SELECT att4                          
                FROM wcadmin.LCSLifeCycleManaged 
                WHERE flextypeidpath = '\5711\12117\12129'    
                AND att3 = REPLACE(lcsproduct.att10,'_30','')) AS "Category",
          (SELECT att7 
                FROM wcadmin.LCSLifeCycleManaged
              WHERE flextypeidpath = '\5711\12117\12491'
                  AND att6 = REPLACE(lcsproduct.att60,'_30',''))AS "SubCategory",
          lcsproduct.att25                  AS "StyleNumber",
          lcssku.att3                       AS "ColorwayCode",    
          INITCAP(lcssku.att25)             AS "SalesSampleFlag",
          sgsku14097.num8                   AS "LocalSalesSampleQty",--******
          INITCAP(sgsku14097.att4)          AS "GlobalColorwayNew/Carryover",
          INITCAP(sgsku14097.att3)          AS "GlobalSalesSampleStatus",
          sgsku14097.att10                  AS "SalesSampleOrderStatus",
          REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(lcssku.att10,'|~*~|'),'|~*~|'),'|~*~|',','),'_SESN_20',''),'_30','') AS ColorwaySellingSeasons,
          INITCAP(sgprod14097.att2)         AS "GlobalStyleNew/Carryover",
          INITCAP(sgsku14097.att2)          AS "GroupColorwayNew/Carryover",    
          INITCAP(sgprod14097.att3)         AS "GroupStyleNew/Carryover",
          INITCAP(lcscostsheet.att1)        AS "ConfirmedForSamplePO",
          t1700965653.att1                  AS "FactoryCode",
          lcsproduct.att1                   AS "MktgStyleName",
          lcssku.att1                       AS "ColorwayName",
          lcscostsheet.num5                 AS "SampleFOB",
          lcscostsheet.num6                 AS "SampleFOB(USD)",
          lcscostsheet.date3                AS "SampleFOBLastChangedDate",
          INITCAP(lcssourcetoseasonlink.att3) AS "SalesSampleFactoryFlag",
          lcssourcetoseasonlink.att1        AS "NLODeveloper", 
          (SELECT att5 
            FROM wcadmin.LCSLifeCycleManaged
          WHERE flextypeidpath = '\5711\12117\12296'
              AND num1 = REPLACE(lcsproduct.att28,'_30','')) AS "MarketingType", 
          REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(lcssku.att38,'|~*~|'),'|~*~|'),'|~*~|',','),'_SESN_20',''),'_30','') ColorwayFirstSellingSeason,
          LTRIM(REPLACE(REPLACE(lcsproduct.att53,'|~*~|',', '),'_USA',''),',')    AS Sizes, 
          REPLACE(REPLACE(lcssku.att53,'|~*~|',', '),'_USA','')        AS Colorway_Sizes,
          lcssourcingconfig.att1                      AS Sourcing,
          INITCAP(lcssourcetoseasonlink.att3)         AS Primary_Source,
          (SELECT att3
            FROM wcadmin.LCSLifeCycleManaged
          WHERE flextypeidpath = '\5711\12117\153812118'
              AND att1 = lcsproduct.att77)  AS Global_Category_Summary,
          sggrp14097.ida3masterreference,
          lcsproduct.ida3masterreference    prod_ida3masterreference,
          lcsproduct.ida2a2
          --DevResponsibility
          --ColorCode
          --CAM Flag
          --CAF Flag
      FROM
          wcadmin.prodarev lcsproduct,
          wcadmin.skuarev lcssku,
          wcadmin.skuseasonlink lcsseasonproductlink,
          wcadmin.productseasonlink prodseasonlink,
          wcadmin.lcssourcingconfig_eff lcssourcingconfig,
          wcadmin.lcssourcetoseasonlink_eff lcssourcetoseasonlink,
          wcadmin.lcsskusourcinglink,
          wcadmin.lcscostsheet_eff lcscostsheet,
          --wcadmin.latestiterflexspecification flexspecification,
          wcadmin.lcssourcetoseasonlinkmaster,
          wcadmin.latestiterlcsfactory t1700965653,
          wcadmin.seasongroup sggrp14097,
          wcadmin.seasongrouptoproductlink sgprod14097,
          wcadmin.seasongrouptoskulink sgsku14097,
          wcadmin.lcsseason season
      WHERE
          lcsproduct.ida3masterreference = lcssku.ida3a12
          AND lcsproduct.ida3a12 = prodseasonlink.ida3a5
          AND lcssku.ida3masterreference = lcsseasonproductlink.ida3a5
          AND prodseasonlink.productmasterid = lcsseasonproductlink.productmasterid
          AND prodseasonlink.ida3b5 = lcsseasonproductlink.ida3b5
          AND lcssourcingconfig.productarevid = lcsproduct.branchiditerationinfo
          AND lcssourcingconfig.ida3masterreference = lcssourcetoseasonlink.sourcingconfigmasterid
          AND lcssourcetoseasonlink.seasonmasterid = lcsseasonproductlink.ida3b5
          AND lcsskusourcinglink.ida3a5 = lcssku.ida3masterreference
          AND lcsskusourcinglink.ida3b5 = lcssourcingconfig.ida3masterreference
          AND lcsskusourcinglink.ida3a7 = lcsseasonproductlink.ida3b5
          --AND flexspecification.ida3masterreference (+) = lcscostsheet.ida3d11
          AND lcscostsheet.seasonmasterid = lcsseasonproductlink.ida3b5
          AND lcscostsheet.skumasterid = lcsseasonproductlink.ida3a5
          AND lcscostsheet.sourcemasterid = lcssourcingconfig.ida3masterreference
          AND lcssourcetoseasonlink.ida3masterreference = lcssourcetoseasonlinkmaster.ida2a2
          AND lcssourcingconfig.num5 = t1700965653.branchiditerationinfo (+)
          AND sggrp14097.ida3masterreference = sgprod14097.ida3b5   --
          AND sgprod14097.ida3a5 = lcsproduct.ida3masterreference
          AND sgprod14097.seasonmasterid = lcsseasonproductlink.ida3b5
          AND sgsku14097.ida3a5 = lcssku.ida3masterreference
          AND sgsku14097.seasonmasterid = lcsseasonproductlink.ida3b5
          AND sggrp14097.ida3masterreference = sgsku14097.ida3b5    -- 
          AND (
              lcsseasonproductlink.seasonremoved IS NULL
              OR lcsseasonproductlink.seasonremoved = '0'
          )
          AND (
              lcscostsheet.primarycostsheet = '1'
              OR lcscostsheet.costsheettype = 'SKU'
          )
          AND lcscostsheet.whatif = '0'
          AND lcssourcetoseasonlinkmaster.primarystsl = '1'
          AND sggrp14097.latestiterationinfo = 1    
          AND sgprod14097.effectlatest = '1'
          AND sgprod14097.removed = '0'
          AND sgsku14097.effectlatest = '1'
          AND sgsku14097.removed = '0'
          AND lcssku.att3 IS NOT NULL
          AND season.ida3masterreference = sgprod14097.seasonmasterid
          AND season.latestiterationinfo = '1'
          AND season.att9 IS NOT NULL
          --AND UPPER(sggrp14097.ATT1) = 'AUSTRALIA'                         -- Sales Group
          --AND LCSPRODUCT.att25 = ('SX7592')                                -- Style
          AND SUBSTR(season.att9,1,2)||SUBSTR(season.att9,11,2) = 'SP19'     -- Season
      ;
    </pre>
    <pre *ngSwitchCase="'eq4'">
      SELECT
          p.att25      AS styleno,
          s.att3       AS colorway,
          sgsl.att3    AS globalsalessamplestatus,
          sgsl.att10   AS salessampleorderstatus,
          sgsl.num8    AS localsalessampleqty
      FROM
          wcadmin.lcsproduct p,
          wcadmin.lcssku s,
          wcadmin.seasongrouptoskulink sgsl,
          wcadmin.lcsseason seas,
          wcadmin.seasongroup sgr
      WHERE p.att25
            || '-'
            || s.att3 in()
      AND seas.att1 = 'EQ Holiday 2016'
      AND sgr.att1 = 'EUR Sls Mtg'
      AND p.branchiditerationinfo = s.productarevid
      AND p.branchiditerationinfo = sgsl.productarevid
      AND sgsl.ida3b5 = sgr.ida3masterreference
      AND sgsl.seasonmasterid = seas.ida3masterreference
      AND s.branchiditerationinfo = sgsl.skuarevid
      AND s.latestiterationinfo = 1
      AND s.versionida2versioninfo = 'A'
      AND p.versionida2versioninfo = 'A'
      AND p.latestiterationinfo = 1
      AND sgr.latestiterationinfo = 1
      AND sgr.versionida2versioninfo = 'A'
      AND seas.latestiterationinfo = 1
      AND sgsl.effectlatest = 1
      ORDER BY p.att25;
    </pre>
    <pre *ngSwitchCase="'eq5'">
      SELECT 
        * 
      FROM WCADMIN.LCSLIFECYCLEMANAGED 
      WHERE 
        IDA2A2 IN 
          (SELECT moa.NUM1 
            FROM WCADMIN.LCSMOAOBJECT moa WHERE moa.IDA3A5 
            IN 
            (SELECT DISTINCT(p.IDA3MASTERREFERENCE) 
             FROM WCADMIN.LCSPRODUCT p 
             WHERE p.ATT25 = 'BA4402'));
    </pre>
    <pre *ngSwitchCase="'eq6'">
      SELECT
          p.att25     AS "Style Number",
          s.att3      AS "Colorway Id",
          seas.att1   AS "Season",
          src.att1    AS "Source",
          ssl.att2    AS "Primary Flag"
      FROM
          lcssourcetoseasonlink ssl,
          lcsproduct p,
          lcssku s,
          lcssourcingconfig src,
          lcsseason seas,
          productseasonlink psl,
          skuseasonlink skusl
      WHERE
          p.att25 = 'SX4801'
          AND p.branchiditerationinfo = s.productarevid
          AND p.branchiditerationinfo = src.productarevid
          AND src.ida3masterreference = ssl.sourcingconfigmasterid
          AND seas.ida3masterreference = ssl.seasonmasterid
          AND psl.productarevid = p.branchiditerationinfo
          AND skusl.productarevid = p.branchiditerationinfo
          AND psl.seasonrevid = seas.branchiditerationinfo
          AND skusl.seasonrevid = seas.branchiditerationinfo
          AND skusl.skuarevid = s.branchiditerationinfo
          AND p.latestiterationinfo = 1
          AND s.latestiterationinfo = 1
          AND src.latestiterationinfo = 1
          AND seas.latestiterationinfo = 1
          AND ssl.latestiterationinfo = 1
          AND p.versionida2versioninfo = 'A'
          AND s.versionida2versioninfo = 'A'
          AND src.versionida2versioninfo = 'A'
          AND seas.versionida2versioninfo = 'A'
          AND ssl.versionida2versioninfo = 'A'
          AND ssl.att2 = 'yes'
          AND s.att3 IS NOT NULL
          AND s.att3 <> 'XXX'
      ORDER BY
          s.att3,
          seas.att1,
          src.att1;
    </pre>
    <pre *ngSwitchCase="'pcx10'">
      /*Only for Vendor Color or Team/Player*/
      SELECT
          colorname AS "Color Name",
          ptc_lng_12typeInfoLCSColor as "Color Primary Id",
          ptc_str_13typeInfoLCSColor as "Abbreviation",
          ptc_str_4typeInfoLCSColor as "Team or Player Name",
          ptc_str_7typeInfoLCSColor as "Type",
          ptc_str_51typeInfoLCSColor as "Short Description",
          ptc_str_3typeInfoLCSColor as "Initial Season",
          ptc_str_2typeInfoLCSColor as "State",
          ptc_str_41typeInfoLCSColor as "Status"    
      FROM
          MANREV.lcscolor 
      WHERE
          ptc_lng_12typeInfoLCSColor in () //Color Primary Id
          
      ORDER BY
          "Color Name";
    </pre>

    <pre *ngSwitchCase="'pcx11'">
      --Dev Style (LCSPRODUCT)--
      ptc_str_32typeinfolcsproduct --Devstyle Number
      ptc_str_20typeinfolcsproduct --Marketing Name
      ptc_str_15typeinfolcsproduct --Model ID
      ptc_str_17typeinfolcsproduct --Model Name
      ptc_str_10typeinfolcsproduct --Gender
      ptc_str_2typeinfolcsproduct --Age
      ptc_str_12typeinfolcsproduct --Sports Activity
      ptc_str_37typeinfolcsproduct --Initial Season

      --Dev Style / Season (LCSPRODUCTSEASONLINK)--
      ptc_str_14typeinfolcsproduct --Development Team
      ptc_lng_11typeInfoLCSProduct --Dev Style Season ID
      ptc_str_10typeInfoLCSProduct --Model Offering ID
      (SELECT lcslifecyclemanaged.ptc_str_10typeinfolcslifecyc FROM manrev.lcslifecyclemanaged lcslifecyclemanaged 
      WHERE productseasonlink.ida3a2typeinfolcsproductseas = lcslifecyclemanaged.ida2a2) --TD Code

      --Colorway (LCSSKU)--
      ptc_lng_1typeinfolcssku --Colorway ID
      ptc_str_1typeinfolcssku --Colorway Name 
      ptc_str_2typeinfolcssku --Dev Colorway State
      ptc_str_19typeinfolcssku --Dev Colorway Gate
      ptc_str_13typeinfolcssku --Dev Colorway Status

      --Colorway / Season (LCSSKUSEASONLINK)--
      ptc_str_13typeinfolcsskuseas --Product C/O Status
      ptc_str_5typeInfoLCSSKUSeaso --Product Offering ID
      ptc_lng_1typeInfoLCSSKUSeaso --Colorway Season ID
      ptc_str_2typeInfoLCSSKUSeaso --Development Team 

      --Color (LCSCOLOR)--
      ptc_lng_12typeInfoLCSColor --Color Primary ID
      ptc_str_9typeInfoLCSColor --Available Engines
      ptc_str_13typeInfoLCSColor --Abbreviation
      ptc_str_50typeInfoLCSColor --Legacy Color Code
      ptc_str_22typeInfoLCSColor --PCX Color Code
      ptc_str_1typeInfoLCSColor --PCX Color Description
      ptc_lng_6typeInfoLCSColor --PPS Color ID
      ptc_str_2typeInfoLCSColor --State
      ptc_str_41typeInfoLCSColor --Status
      ptc_str_44typeInfoLCSColor --French Abbreviation
      ptc_str_28typeInfoLCSColor --French Description

      --Palette (LCSPALETTE)--
      ptc_lng_1typeInfoLCSPalette --Palette ID
      ptc_str_1typeInfoLCSPalette --Palette Name
      
      --AP Material & Material Supplier (LCSMATERIAL & LCSMATERIALSUPPLIER)--
      ptc_lng_38typeInfoLCSMateria --PCX Material Number
      ptc_lng_30typeInfoLCSMateria --PCX Supplied Material Number
      ptc_lng_1typeInfoLCSMaterial --PDM Material Number
      ptc_str_103typeInfoLCSMateri --PDM Material by Supplier Number
      ptc_str_57typeInfoLCSMateria --PDM Material Name
      ptc_lng_120typeInfoLCSMateri --PPS Item Number
      ptc_str_321typeInfoLCSMateri --PPS Submit Number

      --FW Material & Material Supplier (LCSMATERIAL & LCSMATERIALSUPPLIER)--
      ptc_lng_38typeInfoLCSMateria --PCX Material Number
      ptc_lng_30typeInfoLCSMateria --PCX Supplied Material Number
      ptc_str_109typeInfoLCSMateri --PDM Material Number
      ptc_str_103typeInfoLCSMateri --PDM Material by Supplier Number
      ptc_str_57typeInfoLCSMateria --PDM Material Name

      --Supplier (LCSSUPPLIER)
      ptc_str_24typeinfolcssupplie --PCC
      ptc_str_60typeinfolcssupplie --Factory Group
      ptc_str_21typeInfoLCSSupplie --Supplier Name
      ptc_lng_10typeInfoLCSSupplie --Supplier ID
      ptc_str_1typeInfoLCSSupplier --Name 
      ptc_str_16typeInfoLCSSupplie --Vendor Group
      ptc_str_23typeInfoLCSSupplie --Legacy Factory Code
      ptc_str_2typeInfoLCSSupplier --Legacy PCC Code
      ptc_str_28typeInfoLCSSupplie --Legacy Vendor Code
      ptc_str_61typeInfoLCSSupplie --Nike Liaison Office

      --Sourcing Config (LCSSOURCINGCONFIG)--
      ptc_str_2typeInfoLCSSourcing --Source Name 
      branchIdA3B2typeInfoLCSSourc --PCC ID
      ptc_lng_1typeInfoLCSSourcing --Sourcing Config ID
      branchIdA3C2typeInfoLCSSourc --Production Factory 

      --Source to Season Link (LCSSOURCETOSEASONLINK)--
      ptc_bln_1typeInfoLCSSourceTo --Sourcing Season Primary Flag
      ptc_lng_4typeInfoLCSSourceTo --Sourcing Season ID
      branchIdA3B2typeInfoLCSSourc --PCC ID
    </pre>
</div>