<div class="row">
    <div class="col-md-12">
      <div class="card bg-info text-white">
        <div class="card-heading bg-warning">
          <h1 style="text-align: center; color: brown">Mark Sheet</h1>
        </div>
        <div class="card-body" style="color: white ;background-color: rgb(78, 79, 82)">
          <div class="row form-group">
            <div class="col-sm-1.5">English: </div>
            <div class="col-sm-1"><input type=number class="form-control" name=num1 [(ngModel)]="number1" /></div>            
            <div class="col-sm-1.5">Hindi: </div>
            <div class="col-sm-1"><input type=number class="form-control" name=num2 [(ngModel)]="number2" /></div>            
            <div class="col-sm-1.5">Maths: </div>
            <div class="col-sm-1"><input type=number class="form-control" name=num3 [(ngModel)]="number3" /></div>            
            <div class="col-sm-1.5">Physics: </div>
            <div class="col-sm-1"><input type=number class="form-control" name=num4 [(ngModel)]="number4" /></div>            
            <div class="col-sm-1.5">Chemistry: </div>
            <div class="col-sm-1"><input type=number class="form-control" name=num5 [(ngModel)]="number5" /></div>            
            <div class="col-sm-1.5">Social Science: </div>
            <div class="col-sm-1"><input type=number class="form-control" name=num6 [(ngModel)]="number6" /></div>            
          </div>
          <div class="table table-stripped" style="background-color: darkgray">
          <div class="row">
            <div class="col-md-4"><button class="btn btn-info" (click)="totalMarks()">Total Marks</button></div>
            <div class="col-md-4"><button [disabled]="totalScore == 0" class="btn btn-info" (click)="calculatePercent()">Percentage</button></div>
            <div class="col-md-4"><button [disabled]="totalScore == 0" class="btn btn-info" (click)="calculateGrade()">Final Grade</button></div>
          </div>
          </div>
        </div>   
      </div>
    </div>
</div>
<div class="row">
  <div class="col">
    <h3>    </h3>
  </div>
</div>
<div class="card bg-info text-white">
  
  <div class="card-body" style="color: white; background-color: rgb(78, 79, 82)">
    <div class="row form-group">
      <div class="col-md-6">
        <app-my-grid 
          [columnHeaderList]="headerList"
          [columnNameList]="columnNameList"
          [dataList]="marksheetList"  
        >   
        </app-my-grid>
      </div>
      <div class="col-md-6">
        <div class="row">
            <div class="col-md-8" style="color: black; background-color: yellowgreen">
              <h3>Total Score : {{totalScore}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="color: black; background-color: cadetblue">
              <h3>Percentage : {{percent}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="color: black; background-color: salmon">
              <h3>Final Grade : {{grade}}</h3>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>